{%extends "auctions/layout.html"%} {%block body%}
<h1>My Watchlist</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {%for listing in watchlist%}
  <div class="col mb-4">
    <div class="card h-100">
      <img
        src="{{listing.image}}"
        class="card-img-top"
        style="height: 300px; object-fit: cover"
        alt="..."
      />
      <div class="card-body">
        <a href="{%url 'listing' listing.id %}"
          ><h5 class="card-title">{{listing.title}}</h5></a
        >
        <p class="card-text">{{listing.description}}</p>
        <h6>Price: <strong>{{listing.price}}$</strong></h6>
        <form action="{%url 'removeFromWatchlist' listing.id%}" method="post">
          {%csrf_token%}
          <button class="btn btn-danger">Remove From Watchlist</button>
        </form>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}
